<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Collect Foods</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        <h1  class="title is-3 has-text-success">About Collect Foods</h1>
        <hr>
        <br>
        <h2 class="title is-4">What is a food collection?</h2>
        <p>You input your favorite foods into your collection, give them a few quick categorizations,and can immediately see them listed by each category in an overview section on your home page. After adding a few foods into your collection you can add your favorite recipes that use those foods. Recipes you create are also quickly categorized and displayed on the home page. You can also create custom cookbooks to further categorize your recipes! You can  easily search for foods, recipes, or cookbooks by name on their respective collection page. You can also view each item and related items. For example, you can look at the detail page of any food you have collected and see a listing of links to all recipes. From there you can view the detail page of any recipe and see a listing of links to each cookbook that contains that recipe.</p>
        <hr>
        <br>
        <h2 class="title is-4">How can a food collection help you?</h2>
        <p>Being able to easily categorize, relate, and organize information about the foods you normally buy or eat has numerous benefits! Busy? See all the recipes you have that take little to no prep or cooking! Have a picky eater? Keep track of all the foods and recipes they will eat! Have a special diet? Have an easy to reference list of foods you can eat. Have a tight budget this week? Find meals you can make containing inexpensive foods or staples you always have in your kitchen! Don't have the mental spoons to do prep or cook anything? You have a whole list of ideas of foods you can eat with no effort. Do you have issues related to color or texture? Keep a handy list of foods and recipes that are safe to eat. Struggle with ARFID? Have a complete list of go to foods that are safe! </p>
        <hr>
        <br>
        <br>
        <h2  class="title is-3 has-text-success">Resources</h2>
        <hr>
        <br>
        <h2 class="title is-4">Meal Planning and Grocery Budgeting</h2>
        <p>
            <ul>
                <li>
                    <a href="https://www.yummly.com/dish/684413/meal-planning-for-beginners-tips-to-get-you-started" target="_blank">Meal Planning Tips || Yummly</a>
                </li>
                <li>
                    <a href="https://www.cooksmarts.com/cooking-guides/cook-on-a-budget/how-to-meal-plan-on-a-budget/#:~:text=PLAN%20MEALS%20AROUND%20ITEMS%20IN%20YOUR%20PANTRY&text=Start%20by%20building%20your%20recipes,any%20away%20or%20buying%20repeats." target="_blank">Budget Meal Planning || Cooksmarts</a>
                </li>
                <li>
                    <a href="https://www.ramseysolutions.com/budgeting/ways-to-save-on-groceries" target="_blank">Save on Groceries || Ramsey Solutions</a>
                </li>
            </ul>
        </p>
        <br>
        <h2 class="title is-4">Pantry Staples and Food Storage Tips</h2>
        <p>
            <ul>
                <li>
                    <a href="https://www.foodnetwork.com/recipes/packages/cooking-from-the-pantry/pantry-essentials-checklist" target="_blank">Kitchen Staples || Food Network</a>
                </li>
                <li>
                    <a href="https://www.bettycrocker.com/how-to/the-ultimate-guide-to-food-storage" target="_blank">Guide to Storing Food || Betty Crocker</a>
                </li>
            </ul>
        </p>
        <br>
        <h2 class="title is-4">Kid Friendly Recipe Ideas</h2>
        <p>
            <ul>
                <li>
                    <a href="https://www.tasteofhome.com/collection/meals-kids-love/" target="_blank">100 Meals Kids Love || Taste of Home</a>
                </li>
                <li>
                    <a href="https://happyhealthymama.com/100-healthy-snack-ideas-kids.html">100 Healthy Kids Snacks || Happy Healthy Mama</a>
                </li>
            </ul>
        </p>
        <br>
        <h2 class="title is-4">Picky Eating</h2>
        <p>
            <ul>
                <li>
                    <a href="https://www.mayoclinic.org/healthy-lifestyle/childrens-health/in-depth/childrens-health/art-20044948" target="_blank">10 Tips for Picky Eating || Mayo Clinic</a>
                </li>
                <li>
                    <a href="https://www.webmd.com/parenting/guide/picky-eater-kids" target="_blank">How to Handle Picky Eaters || Web MD</a>
                </li>
                <li>
                    <a href="https://www.stanfordchildrens.org/en/topic/default?id=picky-eating-or-eating-disorder-88-p11049" target="_blank">Picky Eating or Eating Disorder? || Stanford Children's Health</a>
                </li>
            </ul>
        </p>
        <br>
        <h2 class="title is-4">Resourceful Meal Prep</h2>
        <p>
            <ul>
                <li>
                    <a href="https://spoonuniversity.com/lifestyle/13-cooking-hacks-you-need-if-you-dont-have-a-stove" target="_blank">13 No Stove Cooking Hacks || Spoon University</a>
                </li>
                <li>
                    <a href="https://tasty.co/article/delaneystrunk/dorm-room-cooking-hacks" target="_blank">Dorm Cooking Hacks || Tasty</a>
                </li>
                <li>
                    <a href="hhttps://www.eatingwell.com/article/65068/how-to-cook-without-a-recipe/#:~:text=Use%20Your%20Senses&text=The%20most%20important%20principle%20when,end%20to%20make%20final%20adjustments." target="_blank">How to Cook Without a Recipe || Eating Well</a>
                </li>
            </ul>
        </p>
        <br>
        <h2 class="title is-4">Eating While Sick</h2>
        <p>
            <ul>
                <li>
                    <a href="https://www.healthline.com/nutrition/15-best-foods-when-sick" target="_blank">15 Foods to Eat When Sick || Healthline</a>
                </li>
                <li>
                    <a href="https://health.osu.edu/wellness/exercise-and-nutrition/foods-to-avoid-with-flu" target="_blank">Foods to Avoid With the Flu || Ohio State University</a>
                </li>
                <li>
                    <a href="https://www.webmd.com/diet/ss/slideshow-prevent-malnutrition-tips" target="_blank">Too Sick to Eat? || Web MD</a>
                </li>
            </ul>
        </p>
        <br>
        <h2 class="title is-4">Self Care and Mental Health Resources</h2>
        <p>
            <ul>
                <li>
                    <a href="https://www.healthline.com/health/mental-health/anxiety-lose-appetite">Anxiety Killed Your Appetite? || Healthline</a>
                </li>
                <li>
                    <a href="https://www.verywellmind.com/what-to-do-when-you-have-no-appetite-4799769" target="_blank">What Causes Lack of Appetite? || Very Well Mind</a>
                </li>
                <li>
                    <a href="https://www.webmd.com/depression/features/depression-food-traps" target="_blank">Depression Food Traps || Web MD</a>
                </li>
                <li>
                    <a href="https://www.developgoodhabits.com/self-care-ideas/" target="_blank">275 Self Care Ideas || Develop Good Habits</a>
                </li>
                <li>
                    <a href="https://suicidepreventionlifeline.org/" target="_blank">National Suicide Prevention Lifeline || 1-800-273-8255</a>
                </li>
                <li>
                    <a href="https://suicidepreventionlifeline.org/chat/?utm_source=google&utm_medium=web&utm_campaign=onebox" target="_blank">National Suicide Prevention Lifeline || Web Chat With a Counselor</a>
                </li>
            </ul>
        </p>
        <br>
        <h2 class="title is-4">Eating with Sensory Issues</h2>
        <p>
            <ul>
                <li>
                    <a href="https://www.verywellhealth.com/how-to-help-children-with-texture-aversions-to-food-1323972" target="_blank">Help With Texture Aversions || Very Well Health</a>
                </li>
                <li>
                    <a href="https://napacenter.org/food-aversion/" target="_blank">Food Aversions 101 || NAPA</a>
                </li>
            </ul>
        </p>
        <br>
        <h2 class="title is-4">Safe Dieting</h2>
        <p>
            <ul>
                <li>
                    <a href="https://www.cdc.gov/healthyweight/losing_weight/index.html" target="_blank">Healthy Weight Loss || CDC</a>
                </li>
                <li>
                    <a href="https://kidshealth.org/en/teens/dieting.html" target="_blank">Diets and Teen Health || Nemours Children's Health</a>
                </li>
            </ul>
        </p>
        <br>
        {% endblock %}
    </body>
</html>